#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}


.navbar-static-top {
  margin-bottom:20px;
}

.navbar-wedoit {
    background-color: #507F77;
    color: #060a09;
}

.navbar-wedoit .navbar-text {
    color: #9d9d9d;
}

.navbar-wedoit .navbar-brand {
    color: #384341;
}

.navbar-wedoit .navbar-toggle .icon-bar {
    background-color: #8bccbf;
}

i {
  font-size:16px;
}

.nav > li > a {
  color: #384341;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.selected {
    font-weight:bold;
    color: #284038;
}

.login-panel {
    margin-top: 25%;
}

.wedoit-hr{
   color: #507f77;
}

.wedoit-button {
    color: #333;
    background-color: #77bfb2;
    border-color: #77bfb2;
}
.wedoit-button:focus,
.wedoit-button.focus {
    color: #333;
    background-color: #a2f3e6;
    border-color: #77bfb2;
}
.wedoit-button:hover {
    color: #333;
    background-color: #a2f3e6;
    border-color: #5d978a;
}
.wedoit-button:active,
.wedoit-button.active,
.open > .dropdown-toggle.wedoit-button {
    color: #333;
    background-color: #a2f3e6;
    border-color: #7fe2cc;
}

.wedoit-toggleButton {
    color: #333;
    background-color: #77bfb2;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}
.wedoit-toggleButton:enabled,
.wedoit-toggleButton.enabled {
    color: #333;
    background-color: #a2f3e6;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}

.wedoit-toggleButton:disabled,
.wedoit-toggleButton.disabled {
    color: #333;
    background-color: #77bfb2;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}

.wedoit-toggleButton:hover {
    color: #333;
    background-color: #a2f3e6;
    border-color: #5d978a;
}

.wedoit-page-info {
    color: #384341;;
}

.wedoit-panel {
    color: #384341;
    background-color: #a2f3e6;
}

form[name="classification"] > div {
    height: auto;
    padding: 5px 0;
}

form[name="classification"] .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 90px;
}

form[name="classification"] .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

form[name="classification"] select {
    width: 120px;
}
