body {
    font-size: 16px;
    /*font-family: "Lato", sans-serif;*/
}


/*.login-landingPage {*/
    /*/!*background: url(/static/img/clouds-984175_1920.jpg) no-repeat center center fixed;*!/*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*height: 100%;*/
/*}*/

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}


.navbar-static-top {
  margin-bottom:20px;
}

.navbar-wedoit {
    background-color: #507F77;
    color: #060a09;
}

.navbar-wedoit .navbar-text {
    color: #e6fffc;
}

.navbar-wedoit .navbar-brand {
    color: #e6fffc;
}

.navbar-wedoit .navbar-toggle .icon-bar {
    background-color: #8bccbf;
}

i {
  font-size:16px;
}

.nav > li > a {
  color: #e6fffc;
}


.nav-left > li > a {
    color: #384341;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.selected {
    font-weight:bold;
    color: #284038;
}

.login-panel {
    margin-top: 25%;
}

.wedoit-hr{
   color: #507f77;
}

.wedoit-button {
    color: #e6fffc;
    background-color: #77bfb2;
    border-color: #77bfb2;
}

.wedoit-button:disabled,
.wedoit-button.disabled{
    color: #333;
    background-color: #ffffff;
    border-color: #77bfb2;
    cursor: not-allowed;
}

.wedoit-button:focus,
.wedoit-button.focus {
    color: #e6fffc;
    background-color: #a2f3e6;
    border-color: #77bfb2;
}
.wedoit-button:hover {
    color: #707474;
    background-color: #a2f3e6;
    border-color: #5d978a;
}
.wedoit-button:active,
.wedoit-button.active,
.open > .dropdown-toggle.wedoit-button {
    color: #e6fffc;
    background-color: #a2f3e6;
    border-color: #7fe2cc;
}

.wedoit-toggleButton {
    color: #333;
    background-color: #77bfb2;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}
.wedoit-toggleButton:enabled,
.wedoit-toggleButton.enabled {
    color: #333;
    background-color: #a2f3e6;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}

.wedoit-toggleButton:disabled,
.wedoit-toggleButton.disabled {
    color: #333;
    background-color: #77bfb2;
    border-color: #77bfb2;
    opacity: 1;
    cursor: pointer;
}

.wedoit-toggleButton:hover {
    color: #333;
    background-color: #a2f3e6;
    border-color: #5d978a;
}

.wedoit-page-info {
    color: #384341;;
}

.wedoit-panel {
    color: #384341;
    background-color: #a2f3e6;
}

form[name="classification"] > div {
    height: auto;
    padding: 5px 0;
}

form[name="classification"] .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 90px;
}

form[name="classification"] .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

form[name="classification"] select {
    width: 120px;
}


tfoot .st-pagination {
    color: #333;
    background-color: #a2f3e6;
    border-color: #77bfb2;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}
