<div class="container-fluid" ng-controller="SettingsCtrl as vm">

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <p class="wedoit-page-info"><strong><i class="fa fa-wrench"></i> Settings</strong></p>
            <hr class="wedoit-hr">
            <div class="col-md-12 col-lg-12">
                <h1>Settings</h1>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3 col-md-3" style="margin-top: 10px">
            <button type="button" class="btn wedoit-button" ng-click="vm.editCompareRanges()">
                <i class="fa fa-edit"></i> Edit classification ranges
            </button>
        </div>
        <div ng-show="false" class="col-lg-3 col-md-3" style="margin-top: 10px">
            <button type="button"  class="btn wedoit-button" ng-click="vm.editDateRanges()">
                <i class="fa fa-edit"></i> Edit date ranges
            </button>
        </div>
        <div class="col-lg-3 col-md-3" style="margin-top: 10px">
            <button type="button" class="btn wedoit-button" ng-click="vm.editScoring()">
                <i class="fa fa-edit"></i> Edit Scoring
            </button>
        </div>
    </div>

    <hr>

    <div class="row" ng-show="vm.scoringSettings">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2>Edit the ranges for the scoring</h2>
                    <p>Here you can edit the settings for the ranges of the scoring <br>
                        for orders of the suppliers</p>
                </div>
            </div>
            <table class="table table-responsive table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:20%">Score</td>
                    <td style="width:20%">positive from</td>
                    <td style="width:20%">positive To</td>
                    <td style="width:20%">negative from</td>
                    <td style="width:20%">negative to</td>

                </tr>
                <tr>
                    <!-- 100 SCORE  -->
                    <td> 100 </td>
                    <td>
                        <span>
                            {{(vm.scoring.scoringLimits['PMIN100']=0)}}
                        </span>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['PMAX100']" min="vm.scoring.scoringLimits['PMIN100']" class="form-control" placeholder="vm.scoring.scoringLimits['PMAX100']">
                        </div>
                    </td>
                    <td>
                        <span>
                            {{(vm.scoring.scoringLimits['NMAX100']=0)}}
                        </span>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['NMIN100']" max=vm.scoring.scoringLimits['NMAX100']" class="form-control" placeholder="vm.scoring.scoringLimits['NMIN100']">
                        </div>
                    </td>


                </tr>

                <tr>
                    <!-- 90 SCORE  -->
                    <td> 90 </td>
                    <td>
                        <div >
                            {{vm.scoring.scoringLimits['PMAX100']+1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['PMAX90']" min="m.scoring.scoringLimits['PMAX100']+1" class="form-control" placeholder="{{vm.scoring.scoringLimits['PMAX90']<(vm.scoring.scoringLimits['PMAX100']+1)?vm.scoring.scoringLimits['PMAX90']=(vm.scoring.scoringLimits['PMAX100']+1):vm.scoring.scoringLimits['PMAX90']}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{vm.scoring.scoringLimits['NMIN100']-1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['NMIN90']" max="vm.scoring.scoringLimits['NMIN100']-1" class="form-control" placeholder="{{vm.scoring.scoringLimits['NMIN90']>(vm.scoring.scoringLimits['NMIN100']-1)?vm.scoring.scoringLimits['NMIN90']=(vm.scoring.scoringLimits['NMIN100']-1):vm.scoring.scoringLimits['NMIN90']}}">
                        </div>
                    </td>


                </tr>
                <tr>
                    <!-- 80 SCORE  -->
                    <td> 80 </td>
                    <td>
                        <div >
                            {{vm.scoring.scoringLimits['PMAX90']+1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['PMAX80']" min="vm.scoring.scoringLimits['PMAX90']+1" class="form-control" placeholder="{{vm.scoring.scoringLimits['PMAX80']<(vm.scoring.scoringLimits['PMAX90']+1)?vm.scoring.scoringLimits['PMAX80']=(vm.scoring.scoringLimits['PMAX90']+1):vm.scoring.scoringLimits['PMAX80']}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{vm.scoring.scoringLimits['NMIN90']-1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['NMIN80']" max="vm.scoring.scoringLimits['NMIN90']-1" class="form-control" placeholder="{{vm.scoring.scoringLimits['NMIN80']>(vm.scoring.scoringLimits['NMIN90']-1)?vm.scoring.scoringLimits['NMIN80']=(vm.scoring.scoringLimits['NMIN90']-1):vm.scoring.scoringLimits['NMIN80']}}">
                        </div>
                    </td>


                </tr>

                <tr>
                    <!-- 60 SCORE  -->
                    <td> 60 </td>
                    <td>
                        <div >
                            {{vm.scoring.scoringLimits['PMAX80']+1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['PMAX60']" min="vm.scoring.scoringLimits['PMAX80']+1" class="form-control" placeholder="{{vm.scoring.scoringLimits['PMAX60']<(vm.scoring.scoringLimits['PMAX80']+1)?vm.scoring.scoringLimits['PMAX60']=(vm.scoring.scoringLimits['PMAX80']+1):vm.scoring.scoringLimits['PMAX60']}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{vm.scoring.scoringLimits['NMIN80']-1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['NMIN60']" max="vm.scoring.scoringLimits['NMIN80']-1" class="form-control" placeholder="{{vm.scoring.scoringLimits['NMIN60']>(vm.scoring.scoringLimits['NMIN80']-1)?vm.scoring.scoringLimits['NMIN60']=(vm.scoring.scoringLimits['NMIN80']-1):vm.scoring.scoringLimits['NMIN60']}}">
                        </div>
                    </td>


                </tr>

                <tr>
                    <!-- 40 SCORE  -->
                    <td> 40 </td>
                    <td>
                        <div >
                            {{vm.scoring.scoringLimits['PMAX60']+1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['PMAX40']" min="vm.scoring.scoringLimits['PMAX60']+1" class="form-control" placeholder="{{vm.scoring.scoringLimits['PMAX40']<(vm.scoring.scoringLimits['PMAX60']+1)?vm.scoring.scoringLimits['PMAX40']=(vm.scoring.scoringLimits['PMAX60']+1):vm.scoring.scoringLimits['PMAX40']}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{vm.scoring.scoringLimits['NMIN60']-1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" ng-model="vm.scoring.scoringLimits['NMIN40']" max="vm.scoring.scoringLimits['NMIN60']-1" class="form-control" placeholder="{{vm.scoring.scoringLimits['NMIN40']>(vm.scoring.scoringLimits['NMIN60']-1)?vm.scoring.scoringLimits['NMIN40']=(vm.scoring.scoringLimits['NMIN60']-1):vm.scoring.scoringLimits['NMIN40']}}">
                        </div>
                    </td>


                </tr>

                <tr>
                    <!-- 0 SCORE  -->
                    <td> 0 </td>
                    <td>
                        <div >
                            {{scoring.scoringLimits['PMAX40']+1}}
                        </div>
                    </td>
                    <td>
                        <span> &infin; </span>
                    </td>
                    <td>
                        <div >
                            {{vm.scoring.scoringLimits['NMIN40']-1}}
                        </div>
                    </td>
                    <td>
                        <span> -&infin; </span>
                    </td>


                </tr>
            </table>

            <hr>

            <div class="row" style="margin-top: 20px; margin-bottom: 100px;">
                <div>
                    <button style="margin-top: 10px; margin-right: 20px" type="button" ng-click='vm.saveScoring()' class="btn wedoit-button pull-right">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
                <div>
                    <button style="margin-top: 10px" type="button" ng-click='vm.defaultScoring()' class="btn wedoit-button pull-right">
                        <i class="fa fa-undo"></i> Reload default scorings
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--
    CLASSIFICATION
    -->
    <div class="row" ng-show="vm.classificationSettings">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2>Edit the ranges for classification</h2>
                    <p>Here you can edit the settings for the ranges of classification <br>
                    At which limit is a supplier a top, normal or one off supplier</p>
                </div>
            </div>
            <table class="table table-responsive table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:35%">Classification</td>
                    <td style="width:20%">From</td>
                    <td style="width:20%">To</td>
                </tr>
                <!-- ONE_OFF CLASSIFICATION  -->
                <tr>
                    <td> ONE OFF </td>
                    <td>
                        <span> 0 </span>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="0" ng-model="vm.classifications.classificationLimits['ONE_OFF']" class="form-control" id="ONEOFF_NUMBER" placeholder="vm.classifications.classificationLimits['ONE_OFF']">
                        </div>
                    </td>
                </tr>
                <!-- NORMAL CLASSIFICATION  -->
                <tr>
                    <td> NORMAL </td>
                    <td>
                        <span>{{(vm.classifications.classificationLimits["ONE_OFF"] +1)}} </span>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="number" min="vm.classifications.classificationLimits['ONE_OFF']+1" ng-model="vm.classifications.classificationLimits['NORMAL']" class="form-control" id="NORMAL_NUMBER" placeholder="{{(vm.classifications.classificationLimits['NORMAL']<(vm.classifications.classificationLimits['ONE_OFF']+1)?(vm.classifications.classificationLimits['NORMAL']=vm.classifications.classificationLimits['ONE_OFF']+1):vm.classifications.classificationLimits['NORMAL'])}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- TOP CLASSIFICATION  -->
                    <td> TOP </td>
                    <td>
                        <span>{{(vm.classifications.classificationLimits["TOP"] = (vm.classifications.classificationLimits["NORMAL"] +1))}} </span>
                    </td>
                    <td>
                        <span> &infin; </span>
                    </td>
                </tr>
            </table>

            <hr>

            <div class="row" style="margin-top: 20px; margin-bottom: 100px">
                <div>
                    <button style="margin-top: 10px; margin-left: 20px"type="button" ng-click='vm.saveClassification()' class="btn wedoit-button pull-right">
                        <i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
                <div>
                    <button style="margin-top: 10px" type="button" ng-click='vm.defaultRanges()' class="btn wedoit-button pull-right">
                        <i class="fa fa-undo"></i> Reload default ranges
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" ng-show="vm.dateSettings">
        <div class="col-lg-12 col-md-12">
            <h2>Edit the ranges for date selection</h2>
            <p>Here you can edit the settings for the date scoring limits for all suppliers</p>


            <table class="table table-responsive table-condensed">
            <tr style="font-weight: bold">
                <td style="width:35%">Classification</td>
                <td style="width:20%">From</td>
                <td style="width:20%">To</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="dr in vm.dateRanges">
                <td> {{dr.title}}</td>
                <td>
                    <span editable-number="dr.from" e-name="fromVal" e-form="rowform" onbeforesave="vm.checkFromDr($index, $data)" e-required> {{dr.fromVal}}</span>
                </td>
                <td>
                    <span editable-number="dr.to" e-name="toVal" e-form="rowform" onbeforesave="vm.checkToDr($index, $data)" e-required> {{dr.toVal}} </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="vm.saveDateRanges($index, $data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == dr">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn wedoit-button" ng-click="rowform.$show()">edit</button>
                    </div>
                </td>
            </tr>
        </table>
        </div>


    </div>

</div>