
            <div class="col-md-12 col-lg-12" ng-controller="SupplierCtrl as vm">
                <a><strong>Suppliers</strong></a>

                <div class="row">
                    <div class="btn btn-group-vertical" ng-show="vm.disable">
                        <button type="button" ui-sref="supplier.all" class="btn btn-primary" ng-click="vm.disableButton()">
                            <i class="fa fa-bullseye"></i> Select Suppliers
                        </button>
                        <button type="button" ui-sref="supplier.byDate" class="btn btn-primary" ng-click="vm.disableButton()">
                            <i class="fa fa-calendar"></i> Select Suppliers by Date
                        </button>
                    </div>
                </div>
                
                <div ui-view></div>

                <hr>

            </div>
            <!--/col-span-9-->