<div ng-controller="barChartController as vm">


    <div class="row">
        <div class="col-md-3">
            <button type="button" ng-click='vm.goToSupplierList()' class="btn btn-success">
                Back to supplierlist
            </button>
        </div>
        <div id="suppliertable" class="col-md-6">
            <p>Your selected suppliers:</p>

            <table st-table="vm.rawData" class="table table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="name">Score</th>
                    <th st-sort="name">Classification</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.rawData"
                    ng-class="{'success': vm.selectedRow[$index], 'active':!vm.selectedRow[$index]}"
                    ng-click="vm.removeSelected($index,row)">
                    <td>{{row.name}}</td>
                    <td>{{row.score}}</td>
                    <td>{{row.classification}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <span>
                <button type="button" ng-class="{'btn btn-default':vm.displayScoreChart,'btn btn-success':!vm.displayScoreChart}" ng-click="vm.toggleScoreChart()">
                    <span> Score Chart</span>
                </button>
                </span>
                <br/>
                <button type="button" ng-class="{'btn btn-default':vm.displayDetailChart,'btn btn-success':!vm.displayDetailChart}" ng-click="vm.toggleDetailChart()">
                    <span> Delivery Delay</span>
                </button>
            </span>
            <br/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="vm.generatePdf()">
                    <span> Produce PDF</span>
                </button>
            </span>
        </div>
    </div>
    <div class="row" ng-show="vm.displayScoreChart">
        <div class="col-md-10"> <!-- Chart Div -->
            <div id="bar">
                <canvas  class="chart chart-bar" width="600" height="320"
                        chart-data="vm.data" chart-legend="true" chart-labels="vm.labels" chart-colours="vm.colours" chart-series="vm.series">
                </canvas>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" ng-show="vm.displayDetailChart">
        <div class="col-md-10"> <!-- Chart2 Div -->
            <div id="bar2">
                <canvas  class="chart chart-bar" width="600" height="320"
                        chart-data="vm.data_detail" chart-legend="true" chart-labels="vm.labels_detail" chart-colours="vm.colours_detail"
                        chart-series="vm.series_detail">
                </canvas>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>