<div ng-controller="BarChartController as vm">


<div class="row">
    <div class="col-md-2">
        <button type="button" ng-click='vm.goToSupplierList()' class="btn btn-success" >
            Back to supplierlist
        </button>
    </div>
    <div class="col-md-6">
        <p>Your selected suppliers:</p>

        <table st-table="vm.rawData" class="table table-hover">
            <thead>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="name">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in vm.rawData"
                ng-class="{'success': vm.selectedRow[$index], 'active':!vm.selectedRow[$index]}"
                ng-click="vm.removeSelected($index,row)">
                <td>{{row.name}}</td>
                <td>{{row.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <!-- currently empty -->
    </div>
</div>
<div class="row">
<div class="col-md-8"> <!-- Chart Div -->

    <canvas id="bar" class="chart chart-bar"
            chart-data="vm.data" chart-labels="vm.labels" colours="vm.colours">
    </canvas>

</div>
<div class="col-md-4"></div>
</div>

</div>