
            <div ng-controller="SupplierListCtrl as vm">
                <a href="#"><strong><i class="fa fa-leaf"></i> All Suppliers</strong></a>
                <hr>
                <!--row datepicker-->
                <div class="row">
                    <h4>Select the time:</h4>
                    <!--We have to add a datepicker-->
                </div>
                <!--/row datepicker-->

                <hr>
                <div class="row">

                    <div class="col-md-2">
                        <!-- button to go to the comparison view -->
                        <button type="button" ng-click="go('comparison')" ng-disabled="vm.selectedSuppliers.length == 0" class="btn btn-default" >
                            Compare
                        </button>
                    </div>

                    <div class="col-md-8">
                    <h3> Selected suppliers:</h3>
                    <table st-table="vm.selectedSuppliers" class="table table-hover">
                        <thead>
                        <tr>
                            <th st-sort="name">Name</th>
                            <th st-sort="name">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in vm.selectedSuppliers"
                                ng-class="{'selected':$index == vm.selectedSupplierRow}"
                                ng-click="vm.removeSelected($index,row)">
                               <td>{{row.name}}</td>
                               <td>{{row.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-md-2"/>

                </div>
                <hr/>
                <div class="alert alert-danger" role="alert" ng-show="vm.error">
                    <strong>Error!</strong> {{vm.error}}
                </div>


                <!-- row table all supplier -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panle panle-default">
                            <table st-table="vm.supplierList" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th st-sort="id">ID</th>
                                        <th st-sort="name">Name</th>
                                        <th st-sort="orders">Number of Orders</th>
                                        <th st-sort="score">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in vm.supplierList | limitTo: 50"
                                        ng-class="{'selected':$index == vm.selectedRow}"
                                        ng-click="vm.select($index,row)">
                                        <td cs-select="row"></td>
                                        <td>{{row.id}}</td>
                                        <td>{{row.name}}</td>
                                        <td>{{row.numberOfOrders}}</td>
                                        <td>{{row.score}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td colspan="5" class="text-center">
                                        <div st-times-by-page="30" st-pagination=""></div>
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/row table all supplier -->
                <hr>

            </div>
            <!--/col-span-9-->


    <!-- /Main -->