<div class="container-fluid" ng-controller="SupplierListByDateCtrl as vm" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <p class="wedoit-page-info"><strong><i class="fa fa-coffee"></i> Suppliers </strong></p>
            <hr>
            <div class="col-md-12 col-lg-12">
                <h1>Suppliers</h1>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">

        <div class="col-md-6 col-lg-6">
            <div class="form-group"> <!--datepicker-->
                <label for="datepicker"> Select a daterange: </label>
                <input date-range-picker id="datepicker" name="datepicker" class="form-control date-picker" type="text"
                       ng-model="vm.date" clearable="false" options="vm.dataOptions"/>
            </div>  <!-- .datepicker -->
        </div>

        <div class="col-md-6 col-lg-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input1" class="control-label">Search by suppliers name</label>
                    <input type="text" class="form-control" id="input1" placeholder="suppliers name ... " ng-model="filter.supplierList.name">
                </div>
                <div class="form-group">
                    <label for="input2" class="control-label">Search by classification</label>
                    <select id="input2" class="form-control" ng-model="filter.classifications">
                        <option value="">All classifications</option>
                        <option ng-repeat="classification in vm.classifications" value="{{classification.id}}">{{classification.name}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>


    <div style="margin-top: 25px;" class="row">
        <div class="col-md-2 col-lg-2">
            <button class="btn wedoit-button" style="margin-left: 9px" type="button"
                    ng-click="vm.byDateQuery(vm.date.startDate ,vm.date.endDate, vm.formData.classification)"
                    ng-disable="vm.dateIsSelected">
                Show all suppliers by date and classification
            </button>
        </div>
    </div>

    <hr>

    <div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"> Selected suppliers </div>
            </div>
            <table st-table="vm.selectedSuppliers" class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.selectedSuppliers "
                    ng-class="{'selected':$index == vm.selectedSupplierRow}"
                    ng-click="vm.removeSelected($index,row)">
                    <td>{{row.name}}</td>
                    <td>{{row.score}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-2">
            <button style="margin-left: 16px" type="button"
                    ng-click='vm.goToComparison()'
                    ng-disabled="vm.selectedSuppliers.length <= 1"
                    ng-class="{'btn btn-default': vm.selectedSuppliers.length <= 1,
                                        'btn wedoit-button':vm.selectedSuppliers.length > 1}" >
                Compare
            </button>
        </div>
    </div>


<hr/>

<!-- row table all supplier -->
<div class="row">
    <div class="col-md-12">
        <div class="panle panle-default">
            <table st-table="vm.supplierList" class="table table-hover">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Number of Orders</th>
                    <th>Score</th>
                    <th>Classification</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.supplierList | filter: filter"
                    ng-class="{'selected':$index == vm.selectedRow}"
                    ng-click="vm.select($index,row)">

                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.numberOfOrders}}</td>
                    <td>{{row.score}}</td>
                    <td>{{row.classification}}</td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="5" class="text-center">
                    <div st-times-by-page="30" st-pagination=""></div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!--/row table all supplier -->
</div>