
<div class="col-md-12">
    <a href="#"><strong><i class="fa fa-leaf"></i> All Suppliers</strong></a>
     <hr>
        <!--row datepicker-->
        <div class="row">
            <h4>Select the time:</h4>
            <!--We have to add a datepicker-->
        </div>
                    <!--/row datepicker-->

    <hr>

                    <!-- row table all supplier -->
    <div class="row" ng-controller="SupplierListCtrl as vm">
        <div class="col-md-12">
            <div class="panle panle-default">
                <table st-table="vm.supplierList" class="table table-hover">
                    <thead>
                    <tr>
                        <th st-sort="id">ID</th>
                        <th st-sort="name">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in vm.supplierList"
                        ng-class="{'selected':$index == vm.selectedRow}"
                        ng-click="vm.select($index,row)">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/row table all supplier -->
    <hr>

</div>
