
            <div class="col-md-9">
                <a href="#"><strong><i class="fa fa-plane-o"></i> The specific supplier</strong></a>
                <hr>
                <!--row datepicker-->
                <div class="row">
                    <h4>Select the time:</h4>
                    <!--We have to add a Datepicker-->
                </div>
                <!--/row datepicker-->

                <hr>

                <div class="col-md-12">
                    <img src="../img/barchart.jpg">
                </div>


                <hr>

            </div>
            <!--/col-span-9-->