<div class="container-fluid" ng-controller="UserController as vm">

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <p class="wedoit-page-info"><strong><i class="fa fa-user"></i> User Management</strong></p>
            <hr class="wedoit-hr">
            <div class="col-md-12 col-lg-12">
                <h1>User Management</h1>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3 col-md-3" style="margin-top: 10px">
            <button type="button" class="btn wedoit-button" ng-click="vm.newUser()">
                <i class="fa fa-plus"></i> Create a new user
            </button>
        </div>
        <div class="col-lg-3 col-md-3" style="margin-top: 10px">
            <button type="button" class="btn wedoit-button" ng-click="vm.allUsers()">
                <i class="fa fa-users"></i> Show all users
            </button>
        </div>
    </div>

    <div class="row" ng-show="vm.isNewUser">
        <div class="col-lg-12 col-md-12">
            <h2>Create a new User</h2>
            <form role="form" name="newUser">
                <div class="form-group" ng-class="{ 'has-error': newUser.name.$dirty && newUser.name.$error.required }">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Enter the name" ng-model="vm.name" required pattern="[A-Z]*[a-z]*" maxlength="30">
                    <span ng-show="newUser.name.$dirty && newUser.name.$error.required" class="help-block">Please enter a valid name! A - Z / a- z is allowed</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': newUser.email.$dirty && newUser.email.$error.required }">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Enter the email address" ng-model="vm.email" required>
                    <span class="help-block" ng-show="newUser.email.$dirty && newUser.email.$error.required">Please enter a valid email address!</span>
                </div>
                <hr>
                <div class="form-group" ng-class="{ 'has-error': newUser.newUsername.$dirty && newUser.newUsername.$error.required }">
                    <label for="newUsername">Username</label>
                    <input class="form-control" type="text" name="new_username" id="newUsername" placeholder="Enter the username" ng-model="vm.un" required>
                    <span ng-show="newUser.newUsername.$dirty && newUser.newUsername.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': newUser.newPassword.$dirty && newUser.newPassword.$error.required }">
                    <label for="newPassword">Password</label>
                    <input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="Enter a password" ng-model="vm.p" required>
                    <span ng-show="newUser.newPassword.$dirty && newUser.newPassword.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn wedoit-button" ng-click="vm.create(vm.un, vm.p, vm.email, vm.name)"
                            ng-show="newUser.$valid">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-show="vm.isAllUsers">
        <div class="col-lg-12 col-md-12">
            <h2>All current users</h2>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.userList">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button type="button" class="btn-circle" ng-click="vm.editUser(user)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button type="button" class="btn-circle" ng-click="vm.deleteUser(user)">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>